/* General */

body {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #1a1d24 !important;
}
a {
    text-decoration: none !important;
}
.vm {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.btn {
    font-size: 14px;
    padding: 0.575rem 0.75rem;
}
.btn .material-icons {
    font-size: 18px;
    line-height: 22px;
    vertical-align: top;
    margin-right: 10px;
}

/* Forms */
.form {
    height: 100vh;
}
.form .form-row {
    height: 100%;
}
.form-label {
    color: #fff;
    font-size: 14px;
}
.form-control {
    background-color: transparent;
    color: #fff;
    border: 1px solid #3c3f43;
    font-size: 14px;
    padding: 0.575rem 0.75rem;
}
.form-control:hover, .form-control:focus {
    background-color: transparent;
    color: #fff;
}
.form h1 {
    font-weight: 800;
    color: #fff;
    font-size: 72px;
    line-height: 120px;
}
.form .form-text {
    color: #fff;
    font-size: 13px;
}

/* Alerts */
.alert {
    font-size: 14px !important;
    border: 0px !important;
}
.alert.alert-danger {
    background-color: #f04f43 !important;
    color: #fff !important;
}
.alert.alert-success {
    background-color: #58b15b !important;
    color: #fff !important;
}

/* Sidebar */
.sidebar {
    height: 100vh;
    background-color: #0f131a;
}
.sidebar .sidebar-logo a {
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3px;
}
.sidebar .sidebar-logout button {
    border-radius: 0px;
    border: 0px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}
.sidebar .sidebar-logout button span {
    color: #888;
    font-size: 24px;
}
.sidebar .sidebar-links a div {
    color: #888;
    font-size: 14px;
}
.sidebar .sidebar-links a div .material-icons {
    font-size: 20px;
    vertical-align: top;
    margin-right: 15px;
}
.sidebar .sidebar-links a div.active {
    color: #fff;
    background-color: #292d33;
}

/* Content */
.content .content-title {
    color: #fff;
}
.content .content-section {
    display: none;
}
.content .content-section.active {
    display: block;
}

/* Posts */
.posts .post,
.posts .post .post-title,
.posts .post .post-title a {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}
.posts .post .post-actions {
    text-align: right;
}
.posts .post .post-actions a {
    color: #0d6efd;
}
.posts .posts-header,
.posts .posts-header .post-title {
    font-size: 13px;
}
.posts .post {
    border-bottom: 1px solid #292d33;
}
.posts .post:last-of-type {
    border-bottom: 0px;
}
.posts .post::hover {
    background-color: #3c3f43;
}